body {
    background-color: #1F2631;
    color: white;
}
.linkstopo {
    background-color: #094493;
    font-size: 20px;
    color: aqua;
}
.nome {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    line-height: 70px;
    text-decoration: underline;     
    background-color: #1a1b1c;     
}
.descricao {
    background-color: #1a1b1c;
}
.subdescricao {
    background-color: #1a1b1c;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic,subt ;
    background-color: #1a1b1c;
}
ul {
    font-style: italic;
    background-color: #1a1b1c;
}
#minhafoto {
    width: 300px;           
    border-style: groove;      
    background-color: #1a1b1c;     
}
.git {
    font-size: 23px;
}
.javascript {
    font-size: 25px;
}
.html {
    font-size: 20px;
}
.css {
    font-size: 20px;
}
.sql {
    font-size: 23px;
}
.react {
    font-size: 25px;
}
.angular {
    font-size: 25px;
}
.node {
    font-size: 23px;
}
.mongo {
    font-size: 23px;
}
.cmaismais {
    font-size: 25px;
}
.csharp {
    font-size: 25px;
}